.navbar-fixed-full-height {
    /* For full page height */
    height: 6vh !important;
}

.col-full-height {
    /* For full page height */
    min-height: 106vh !important;
}

.row-full-height {
    /* For full page height */
    margin-bottom: 0 !important;
}