{% extends "post_detail_app.html" %}

{% block content %}
    <div id="post_detail_app">
        {% csrf_token %}

        <news-post v-bind:post_details="news_post" v-on:vote="vote($event)"></news-post>
            
        {% if user.is_authenticated %}
        <comment-form v-bind:comment_details="new_comment" v-on:submit_comment="submit_comment($event)"></comment-form>

        <ul class="collection">
            <comment v-for="comment in sorted_comments" v-bind:comment_details="comment" v-bind:key="comment.id"></comment>
        </ul>
        {% endif %}
    </div>
{% endblock %}