{% extends "base.html" %}

{% block content %}
    <div id="app">
        {% csrf_token %}
        <news-card v-for="post in posts" v-bind:news="post" v-bind:key="post.id" v-on:vote="vote($event)"></news-card>
    </div>
{% endblock %}

{% block vueApp %}
    <script type="module">
        import { createApp } from 'vue'

        function FindIndexByID(itemList, itemID) {
            let index = -1;
            for (let i = 0; i < itemList.length; i++) {
                if (itemList[i].id == itemID) {
                    return i;
                }
            }

            console.log(`No item with id: ${itemID} found in item list.`);
            return index;
        }

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        var app = createApp({
            data: function() {
                return {
                    posts: []
                }
            },
            methods: {
                getPublishedPosts: function() {
                    axios({
                        method: 'get',
                        url: '/apis/v1/post'
                    }).then((response) => {
                        for (let post_index in response.data) {
                            let post = response.data[post_index];
                            var short_body = post.body;
                            if (short_body.length > 128) {
                                short_body = short_body.slice(0, 128) + '...';
                            }

                            this.posts.push({
                                id: post.id,
                                updated_at: post.updated_at,
                                published_at: post.published_at,
                                title: post.title,
                                body: post.body,
                                short_body: short_body,
                                author: post.author,
                                votes: post.votes
                            });
                        }
                    }).catch((error) => {
                        console.log(error);
                    });
                },
                vote: function(postID) {
                    let index = FindIndexByID(this.posts, postID);
                    if (index == -1) {
                        return;
                    }
                    
                    this.posts[index].votes += 1;

                    let post = this.posts[index];
                    axios({
                        method: 'put',
                        url: `/apis/v1/post/${postID}/vote/`,
                        headers: {'X-CSRFToken': csrftoken},
                        mode: 'same-origin',
                        data: {
                            id: post.id,
                            updated_at: post.updated_at,
                            published_at: post.published_at,
                            title: post.title,
                            body: post.body,
                            author: post.author,
                            votes: post.votes
                        }
                    }).then((response) => {
                        console.log(response.data)
                    });
                }
            },
            mounted: function() {
                this.getPublishedPosts();
            }
        });
        app.config.compilerOptions.delimiters = ['[[', ']]'];

        app.component('news-card', {
            props: ['news'],
            template:  `<div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <span class="card-title"><a href="#!">[[ news.title ]]</a></span>
                                        <template v-if="(news.published_at > news.updated_at)">
                                            <p>Posted by <a href="#!">[[ news.author.username ]]</a> on [[ news.published_at ]]</p>
                                        </template>
                                        <template v-else>
                                            <p>Posted by <a href="#!">[[ news.author.username ]]</a> on <em>[[ news.updated_at ]] (updated)</em></p>
                                        </template>
                                    </div>
                                    
                                    <div class="card-content">
                                        <p>[[ news.short_body ]]</p>
                                    </div>
                                    
                                    <div class="card-action">
                                        <button class="waves-effect waves-light btn-small grey lighten-2 black-text {% if not user.is_authenticated %}disabled{% endif %}" v-on:click="$emit(\'vote\', news.id)"><i class="tiny material-icons amber-text text-darken-3 left">hotel_class</i>[[ news.votes ]]</button>
                                    </div>
                                </div>
                            </div>
                        </div>`
        });

        app.mount('#app');
    </script>
{% endblock %}