{% extends "base.html" %}

{% block vueComponents %}
<script>
    // Components
    let post_card_component = {
        props: ['post_details'],
        template:  `<div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title"><a :href=post_details.url>[[ post_details.title ]]</a></span>
                                    <template v-if="(post_details.published_at > post_details.updated_at)">
                                        <p>Posted by <a href="#!">[[ post_details.author_name ]]</a> on [[ post_details.published_at ]]</p>
                                    </template>
                                    <template v-else>
                                        <p>Posted by <a href="#!">[[ post_details.author_name ]]</a> on <em>[[ post_details.updated_at ]] (updated)</em></p>
                                    </template>
                                </div>
                                
                                <div class="card-content">
                                    <p>[[ post_details.short_body ]]</p>
                                </div>
                                
                                <div class="card-action">
                                    <button class="waves-effect waves-light btn-small grey lighten-2 black-text {% if not user.is_authenticated %}disabled{% endif %}" v-on:click="$emit(\'vote\', post_details.id)"><i class="tiny material-icons amber-text text-darken-3 left">hotel_class</i>[[ post_details.votes ]]</button>
                                </div>
                            </div>
                        </div>
                    </div>`
    };

    let news_post_component = {
        props: ['post_details'],
        template:  `<div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">[[ post_details.title ]]</span>
                                    <template v-if="(post_details.published_at > post_details.updated_at)">
                                        <p>Posted by <a href="#!">[[ post_details.author_name ]]</a> on [[ post_details.published_at ]]</p>
                                    </template>
                                    <template v-else>
                                        <p>Posted by <a href="#!">[[ post_details.author_name ]]</a> on <em>[[ post_details.updated_at ]] (updated)</em></p>
                                    </template>
                                </div>
                                
                                <div class="card-content">
                                    <p>[[ post_details.body ]]</p>
                                </div>
                                
                                <div class="card-action">
                                    <button class="waves-effect waves-light btn-small grey lighten-2 black-text {% if not user.is_authenticated %}disabled{% endif %}" v-on:click="$emit(\'vote\')"><i class="tiny material-icons amber-text text-darken-3 left">hotel_class</i>[[ post_details.votes ]]</button>
                                </div>
                            </div>
                        </div>
                    </div>`
    };

    let comment_form_component = {
        props: ['comment_details'],
        template:  `<div class="row">
                        <div class="row">
                            <div class="input-field col s10">
                                <textarea id="textarea1" class="materialize-textarea" v-model="comment_details.body"></textarea>
                                <label for="textarea1">Enter comment...</label>
                            </div>
                            <div class="col s2">
                                <button class="waves-effect waves-light btn" v-on:click="$emit(\'submit_comment\')">Comment<i class="material-icons right">send</i></button>
                            </div>
                        </div>
                    </div>`
    };

    let comment_component = {
        props: ['comment_details'],
        template:  `<li class="collection-item">
                        <p>[[ comment_details.body ]]</p>
                        <span>Posted by <a href="#!">[[ comment_details.author_name ]]</a> on [[ comment_details.created_at ]]</span>
                    </li>`
    }

</script>
{% endblock %}